<h1>MOCA</h1>

<form action="/login" method="post">

    <label for="legajo">Legajo:</label>
    <input type="text" id="legajo" name="legajo" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Iniciar sesión</button>

</form>

